@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

:root{
    --color1: #40513B;
    --color2: #609966;
    --color3: #9DC08B;
    --color4: #CFB997;
    --color5: #FAD6A5;
    --color6: #880808;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Montserrat;
}

body{
    background: var(--color2);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.containerCadastro{
    width: 90%;
    height: 90%;
    background-color: rgba(255, 255, 255, 0.2);
    display: flex;
}

.containerCadastro .firstContainer, .secondContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 3em;
}

.containerCadastro .firstContainer .titleBox{
    color: var(--color1);
    padding-bottom: .5em;
}

.containerCadastro .firstContainer .credentialsContainer{
    display: flex;
    flex-direction: column;
    color: var(--color1);
}

.containerCadastro .firstContainer .credentialsContainer .inputsRow{
    display: flex;
    justify-content: space-between;
    padding-bottom: .5em;
}

.containerCadastro .firstContainer .credentialsContainer .inputsRow .inputBox{
    display: flex;
    flex-direction: column;
    width: 45%;
}

.uniqueRow{
    width: 100% !important;
}

.containerCadastro .firstContainer .credentialsContainer .inputsRow .inputBox input{
    padding: 10px;
    border-radius: 500px;
    outline: none;
    border: none;
}
.containerCadastro .firstContainer .buttonBox{
    display: flex;
}

.containerCadastro .firstContainer .buttonBox button{
    padding: .5em 1em;
    border-radius: 500px;
    outline: none;
    border: none;
    background-color: var(--color1);
    cursor: pointer;
    color: #fff;
    font-weight: 900;
}

.containerCadastro .secondContainer .imgBox img{
    width: 100%;
}

.secondContainer{
    position: relative;
}

#nextpoint{
    position: absolute;
    top: 0;
    right: 0;
    width: 25%;
    padding: 1.5em;
}